 
 .col-md-2{
  margin:0px 50px;
 }

 .nav li{        
        display:inline;
        margin-top: 40px;
        padding: 10px 10px;
        background-color: #451250;
        border-radius: 5px;
        overflow-x: hidden;      
       }
       .nav li:hover {
        background-color: #ff00ff;
       }

      .nav li a{
        color: #fff; 
        text-decoration: none; 
      }

      .nav li a:hover{
        background-color: #ff00ff;
      }
      img{
        width: 150px;
        height: 200px;
        max-width: 70%;
       border-radius: 20px;
      }


 
